@page
@model easeas.Pages.Clients.IndexModel
@{
}

<br />
<h2>List of Students</h2>
<a class="btn btn-primary btn-sm" href="/Students/Create">Add Student</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>NRP</th>
            <th>Batch</th>
            <th>Major</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listStudents)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.NRP</td>
                <td>@item.Batch</td>
                <td>@item.Major</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Students/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Students/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>